#This file contains all the necessary libraries that needs to be installed to proceed

# Libraries for reading documents
pdfplumber 
python-docx 
openpyxl 
odfpy
databricks-sdk==0.28.0 
databricks-agents 
mlflow-skinny 
mlflow 
mlflow[gateway] 
databricks-vectorsearch 
langchain==0.2.1 
langchain_core==0.2.5 
langchain_community==0.2.4 
transformers==4.30.2 
# databricks-sdk==0.23.0
databricks-sql-connector
anyio<4
